//Background variables
$bg-color-dark: #010615;
$bg-color-light: #060c21;
$bg-color-highlight-green: #89ff00;
$bg-color-highlight-blue: #00bcd4;
$bg-color-highlight-yellow: #fbff00;
$bg-color-highlight-teal: #3296F3;
$bg-color-highlight-red: #ff005e;
$bg-color-highlight-purple: #772aff;

//Text variables
$text-color: #ffffff;
$text-color-highlight-green: #89ff00;
$text-color-highlight-blue: #00bcd4;
$text-color-highlight-yellow: #fbff00;
$text-color-highlight-teal: #3296F3;
$text-color-highlight-red: #ff005e;
$text-color-highlight-purple: #772aff;