@use "../styles/colorPalatte" as CP;

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 800px;
}

.submit {
    background: CP.$bg-color-light;
    border: 2px solid CP.$bg-color-highlight-blue;
    font: inherit;
    line-height: 1;
    padding: 10px 20px;
    transition: 0.25s;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;

    &:hover, &:focus {
        color: black;
        box-shadow: inset 0 0 0 2em CP.$bg-color-highlight-blue;
        border: 2px solid CP.$bg-color-highlight-teal;
        transition: 0.5s;
        font-weight: bold;
    }
}

.button-custom {
    background: CP.$bg-color-light;
    border: 2px solid CP.$bg-color-highlight-blue;
    font: inherit;
    transition: 0.25s;
    color: white;
    border-radius: 25px;

    &:hover, &:focus {
        color: black;
        box-shadow: inset 0 0 0 2em CP.$bg-color-highlight-blue;
        border: 2px solid CP.$bg-color-highlight-teal;
        transition: 0.5s;
        font-weight: bold;
    }

    &-small {
        height: 30px;
        width: 100px;
        font-size: 10px;
        border-radius: 15px;
    }

    &-big {
        line-height: 1;
        font-size: 20px;
        padding: 10px 20px;
        font-weight: bold;
    }
}

.submit {
    margin-left: 10px;
}

a {
    font-weight: bold;
    color: CP.$text-color-highlight-teal;
}
